@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: #cccccc transparent;
    }

    body {
        font-family: 'Manrope', sans-serif;
        @apply font-normal text-defualtTextColor;
        @apply bg-[#FAFAFA];
    }

    body.lock {
        @apply overflow-y-hidden
    }

    body.dark {
        @apply bg-[#313131]
    }

    svg {
        @apply w-full h-full;
    }
}

@layer components {
    .button {
        @apply transition-all flex text-[#26292c] dark:text-gray-500;   
    }

    .button-text {
        @apply py-2 pr-0;
    }

    .button-contained {
        @apply bg-element dark:bg-gray-700 dark:text-slate-200 rounded-lg w-full font-bold flex justify-center py-3 px-2;
    }

    .button-outline {
        @apply rounded-lg w-full font-bold flex justify-center py-3 px-2 border-2 border-[#e6e6e6]
    }

    .InputContainer {
        @apply h-10 rounded-lg w-full border-mute bg-transparent flex items-center justify-start dark:border-gray-500;
    }

    .Input {
        @apply h-full w-full placeholder:text-main focus:outline-none bg-transparent dark:placeholder:text-gray-500;
    } 

    .ListItem {
        @apply active:scale-[0.97] transition-all cursor-pointer flex justify-between items-center w-full px-3 py-2 rounded-lg text-sm font-bold hover:bg-mute hover:text-black dark:hover:bg-gray-400 dark:hover:text-slate-900;
    }

    .Message {
        @apply text-sm text-black rounded-lg px-3 py-[2px] transition-all dark:text-slate-900;
    }

    .TagButton {
        @apply text-sm text-[#4f4f50] dark:text-slate-700 font-bold rounded-lg inline-block px-3 py-1 cursor-pointer text-center;
    }

    .TagItem {
        @apply text-sm text-[#4f4f50] font-bold rounded-lg dark:text-slate-700 inline-block px-3 py-1 cursor-pointer text-center;
    }

    .Switch {
        @apply mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 checked:bg-elementDark;
    }

    .Checkbox {
        @apply  w-5 h-5 transition-all flex justify-center items-center cursor-pointer rounded-md border-2 border-muteDark;
    }

    .CheckboxText {
        @apply dark:text-white;
    }

    .CheckboxChekedText {
        color: gray !important; 
        @apply line-through;
    }
}